// VARIABLES
// ***** COLORS ***** 
$color-welcome: #87509c;
$color-welcome-dark:#643a79;
$color-services:#17c2a4;
$color-team: #e7f1f8;
$color-skills: #ffffff;
$color-portfolio: #ffdd99;
$color-portfolio-dark: #dcc291;
$color-testimonials: #d74680;
$color-getintouch: #3c5499;
$color-getintouch-dark: #273a71;
$color-footer: #344b8e;

$color-grey-dark: #787878;
$color-grey-light-1: #aaa;

// ***** MIXINS ***** 
@mixin after {
    content: '';
    margin-top: 1rem;
    height: 4px;
    width: 20%;
    display: block;
    background-color: rgba(#000, .15);
    position: relative;
    left: 38%;
}

// ***** FONTS ***** 
$font-color-light: #fff;
$font-color-dark: #3c4761;

$main-font: 'Titillium Web', sans-serif;

// ***** MEDIA QUERRIES BREAKPOINTS *****
$bp-smallScreen: 78rem; //1250px
$bp-huge: 68rem; // 1100px
$bp-large: 62.5rem; // 1000px
$bp-big: 56rem; // 900px
$bp-medium: 50rem;// 800px
$bp-small: 43rem; // 700px
$bp-smallest: 37.5rem; // 600px
$bp-mobileBig: 31rem; // 500px
$bp-mobileMed: 25rem; // 400px
$bp-mobileSm: 18.5rem; // 300px

// @media only screen and (max-width: $bp-huge) {

// }

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: $main-font;
}

.container {
    background-color: $color-grey-light-1;
    color: $font-color-dark;

    //MAIN-GRID
    display: grid;
    grid-template-rows: min-content 70vh repeat(7, min-content);
    grid-template-columns: repeat( 10, [col-start] 1fr [col-end]);

    @media only screen and (max-width: $bp-huge) {
        grid-template-rows: min-content 80vh repeat(7, min-content);
    }

    @media only screen and (max-width: $bp-mobileMed) {
        grid-template-rows: min-content 40vh repeat(7, min-content);
    }
}


