.services {
    grid-column: col-start 1 / col-end 10;
    background-color: $color-services;
    color: $font-color-light;

    //  top content
    &__header {
        display: grid;
        grid-template-columns: 2fr repeat(4, 1fr) 2fr;
        grid-template-rows: 3fr repeat(2, 1fr) 1fr;
        justify-items: center;
    }

    &__heading {
        letter-spacing: 4px;
        padding-bottom: 2rem;
        text-align: center;

        grid-column: 2 / 6;
        align-self: end;

        &::after {
            content: '';
            margin-top: 1rem;
            height: 4px;
            width: 20%;
            display: block;
            background-color: rgba(#000, .15);
            position: relative;
            left: 38%;

            // 4px solid rgba(#000, .15);
        }
    }

    &__description {
        font-weight: 300;
        
        grid-column: 2 / 6;
        text-align: center;
    }

    //  bottom content

    &__steps {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem , 1fr)); // responsive
        grid-template-rows: 1fr .5fr;
        grid-column-gap: 6rem;

        padding: 0 14rem;
    }

    &__step {
       display: grid;

       justify-items: center;
       grid-template-rows: 15rem min-content min-content; 
       grid-row-gap: 3rem;
    }

    &__title {
        text-transform: uppercase;
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
    }

}