.services {
    grid-column: col-start 1 / col-end 10;
    background-color: $color-services;
    color: $font-color-light;

    display: grid;


    @media only screen and (max-width: $bp-huge and $bp-smallScreen) {
        padding-bottom: 5rem;
    }

    //  top content
    &__header {
        display: grid;
        grid-template-columns: 2fr repeat(4, 1fr) 2fr;
        justify-items: center;
    }

    &__heading {
        letter-spacing: 4px;
        padding: 8rem;
        padding-bottom: 3rem;
        text-align: center;

        grid-column: 2 / 6;
        align-self: end;

        &::after {
            @include after;
            width: 30%;
            left: 32%;
        }
        
        @media only screen and (max-width: $bp-medium) {
            padding: 5rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 3.5rem;
            padding: 2rem;
        }
    }

    &__description {
        font-weight: 300;
        padding-bottom: 5rem;

        grid-column: 2 / 6;
        text-align: center;
        
        @media only screen and (max-width: $bp-medium) {
            font-size: 1.7rem;
        }
    }

    //  bottom content
   
    &__steps {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem , 1fr));
        grid-gap: 4rem;
        padding: 10rem 10rem;
        padding-top: 5rem;

        @media only screen and (max-width: $bp-smallScreen) {
            padding: 5rem;
        }
    }

    &__step {
       display: grid;

       justify-items: center;
       grid-template-rows: 15rem repeat(2, min-content); 
    }

    &__title {
        text-transform: uppercase;
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 300;
        text-align: center;
    }

}