.welcome {
    background-color: $color-welcome;
    color: $font-color-light;
    grid-column: col-start 1 / col-end 10;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(7, 1fr);

    &__heading {
        grid-column: 2 / 7;
        text-align: center;
    }

    &__btn {
        grid-row: 2 / 3;
        grid-column: 2 / 7;
        background-color: #eb7d4b;
        border-bottom: 4px solid rgba(#000, .15);
        align-self: start;
    }
}